# ignorando logs de nextflow
.nextflow.log*

# ignorando los resultados de las pruebas locales de los módulos
mkmodules/mk-*/test/results/
mkmodules/mk-*/test/reference/*

#archivos temporales
*.tmp

# ignorando swaps
*.swp

#ignorando workkdir
work

#ignorando archivos basura nexflow
.nextflow*
.nextflow/history
